@import '../../../styles/variables';

#eat {
  width: $quad-width;
  background-color: pink;
  height: $quad-height;
  margin-top: 50px;
  margin-left: 0px;
}

#progress-container {
  display: flex;
  justify-content: center;


  #myProgress {
    width: $bar-width;
        background-color: $bar-background;
        border-radius: $border-radius;
        box-shadow: $bar-box-shadow;
      
    

  
    #myBar {
      height: $bar-height;
        background-color: $bar-color;
        text-align: center;
        border-radius: $border-radius;
      }
  }
}
