@import '../../../styles/variables';

#play {
    width: $quad-width;
    height: $quad-height;
    background-color: rgb(7, 212, 110);
}

#fun-progress-container {
    display: flex;
    justify-content: center;
  
  
    #fun-progress {
        width: $bar-width;
        background-color: $bar-background;
        border-radius: $border-radius;
        box-shadow: $bar-box-shadow;
      
  
    
      #fun-bar {
        height: $bar-height;
        background-color: $bar-color;
        text-align: center;
        border-radius: $border-radius;
      }
    }
  }